#container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 2rem;
  grid-template-columns: 200px 6fr;
  grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";
}

.header {
  grid-area: header;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  grid-area: nav;
  background-color: green;
}

.content-container {
  grid-area: content;
  background-color: yellow;
}

.footer {
  grid-area: footer;
  background-color: red;
}

#menu-icon {
  color: white;
  position: absolute;
  left: 4vw;
  width: 2rem;

}

.logo {
  color: white;
  font-size: 2rem;
}

