:root {
  --color-header: blue;
}

#container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 2rem;
  grid-template-columns: 200px 6fr;
  grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";
}

#header {
  grid-area: header;
  background-color: var(--color-header);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  grid-area: nav;
  background-color: green;
}

#nav.hidden {
  display: none;
}

#content-container {
  grid-area: content;
  background-color: yellow;
}

#content-container.extend {
  grid-column-start: nav;
  grid-column-end: content;
}

#footer {
  grid-area: footer;
  background-color: red;
}

#menu-icon {
  color: white;
  position: absolute;
  left: 20px;
  width: 2rem;
  border: 1px solid var(--color-header);
}

#menu-icon:hover {
  border: 1px solid white;
  border-radius: 10px;
}

#menu-icon:active {
  color: var(--color-header);
  border: none;
}

.logo {
  color: white;
  font-size: 2rem;
}

