:root {
  --color-header: blue;
}

#container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 2rem;
  grid-template-columns: 200px 6fr;
  grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";
}

#header {
  grid-area: header;
  background-color: var(--color-header);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  grid-area: nav;
  background-color: green;
  display: flex;
  flex-direction: column;
}

#nav.hidden {
  display: none;
}

#content-container {
  grid-area: content;
  background-color: yellow;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#content-container.extend {
  grid-column-start: nav;
  grid-column-end: content;
}

#footer {
  grid-area: footer;
  background-color: red;
}

#menu-icon {
  color: white;
  position: absolute;
  left: 20px;
  width: 2rem;
  border: 1px solid var(--color-header);
}

#menu-icon:hover {
  border: 1px solid white;
  border-radius: 10px;
}

#menu-icon:active {
  color: var(--color-header);
  border: none;
}

.logo {
  color: white;
  font-size: 2rem;
}

#nav>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-main-choices {
  padding: 0.5rem 1rem;
}

.nav-icons {
  height: 2rem
}

#nav>#nav-projects {
  padding-bottom: 0rem;
}

#nav>#nav-add-projects {
  padding-top: 0rem;
}

.nav-projects {
  padding-left: 2.5rem;
}

.nav-projects#nav-added-projects {
  display: flex;
  flex-direction: column;
  gap: initial;
}

#nav>#nav-add-projects>*, .nav-projects#nav-added-projects {
font-size: 0.8rem;
}

#nav-projects-icon {
  height: 1.2rem;
}

.nav-main-choices:hover, .nav-added-projects:hover, #nav-add-projects:hover {
  background-color: grey;
}

.nav-added-projects {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-items: end;
  align-self: end;
  padding-right: 1rem;
  /* padding-left: inherit; */
}

#task-project-title {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}

#task-title-description {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

#task-title {
  font-size: 1.5rem;
}

#task-date-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  gap: 0.5rem;
}

.task-svg>svg {
  height: 1.5rem;
  border: 1px solid transparent;
  padding: 0.05rem;
}

#task-create-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#task-create-button-text {
  padding: 0rem 0.5rem 0rem 0.5rem;
  border: 1px solid transparent;
}

#task-create-button-text:hover, .task-svg>svg:hover {
  border: 1px solid black;
  border-radius: 10px;
}

#task-create-button-text:active, .task-svg>svg:active {
  background-color: lightgrey;
}

#task-prompt-container {
  --height: 250px;
  --width: 400px;
  position: fixed; 
  height: var(--height);
  width: var(--width);
  top: calc(50% - calc(var(--height)/2));
  left: calc(50% - calc(var(--width)/2));
  background-color: lightgray;
  border-radius: 10px;
}

.overlay {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
}

